.card{margin:1%;
    width: 210px;
    height: 315px;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.img{
    height: 190px;
    width: 180px;
    margin: 6%;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}