*{
    box-sizing: border-box;
}
.topnav{
    top: -1px;
    left: 0px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ECECEC;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    color:black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}


.navLinks{
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.navLinks li{
    list-style: none;
    
}
.navLinks a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 14px;

}

.threeline{
    display: none;
}
.threeline div{
    width: 25px;
    height: 5px;
    background-color:black;
    margin:2px;
}

.search{
    border: none;
    height: 28px;
    padding: 0px 1px;
    width: 100%;
    font-size: 16px;
    color:#202026;
    font-weight: 300;
    letter-spacing: 0.5px;
    
    border-bottom: 1px solid black;
}
@media screen and (max-width:1024px){
    .navLinks{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .navLinks{
        position:absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(0%);
        transition: transform 0.5s ease-in
    }
    .navLinks li{
        opacity: 0;
        
    }
    .threeline{
        display: block;
    }
}
.navActive{
        transform: translateX(0%);

}
.Content {
    padding: 2% 5%;
    
}